<!doctype html>
<html>
<head>
    <title>Your Profile</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Your Profile</h1>

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } else { %>
        <div>
            <p><strong>Username:</strong> <%= user.userName %></p>
            <p><strong>First Name:</strong> <%= user.firstName %></p>
            <p><strong>Last Name:</strong> <%= user.lastName %></p>
            <p><strong>Email:</strong> <%= user.email %></p>
        </div>
    <% } %>
</body>
</html>
